
<h1>Stupid Coaching</h1>
<p>Ask your coach for anything</p>
<form action="/answer" method= "get">
  <input type="text" name="question" placeholder="Enter your question here">
  <input type="submit" value="Ask!">
</form>

